.toolbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .toolbarControls {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 0.5rem;
  }
}