@use '@/shared/styles/mixins' as *;

@include media(tablet, max) {
  .card.mobile {
    .infoContainer {
        flex: 1;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .name {
            font-size: 0.875rem;
            text-decoration: none;
            font-weight: 500;
          }
        }

        .score {
          font-size: 0.875rem;
          .scoreValue {
            font-size: 0.875rem;
          }
        }

        .actions {
          display: flex;
          gap: 0.5rem;
        }
    } 
  }
}