# Зависимости
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js
.next
out

# Тесты
coverage
.nyc_output

# Системные файлы
.DS_Store
*.pem

# Отладочные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные env файлы
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore