.subTrigger {
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.125rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.875rem;
    outline: none;
}

.subTrigger:focus {
    background-color: var(--accent);
}

.subTrigger[data-state="open"] {
    background-color: var(--accent);
}

.subTrigger svg {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.subTrigger.inset {
    padding-left: 2rem;
}

.subContent {
    z-index: 50;
    min-width: 8rem;
    overflow: hidden;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    background-color: var(--popover);
    color: var(--popover-foreground);
    padding: 0.25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.subContent[data-state="open"] {
    animation: fadeIn 0.1s ease-out;
}

.subContent[data-state="closed"] {
    animation: fadeOut 0.1s ease-out;
}

.subContent[data-state="closed"] {
    animation: zoomOut 0.1s ease-out;
}

.subContent[data-state="open"] {
    animation: zoomIn 0.1s ease-out;
}

.content {
    z-index: 50;
    max-height: var(--radix-dropdown-menu-content-available-height);
    min-width: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    background-color: #F8FAFC;
    color: var(--popover-foreground);
    padding: 0.25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.content[data-state="open"] {
    animation: fadeIn 0.1s ease-out;
}

.content[data-state="closed"] {
    animation: fadeOut 0.1s ease-out;
}

.content[data-state="closed"] {
    animation: zoomOut 0.1s ease-out;
}

.content[data-state="open"] {
    animation: zoomIn 0.1s ease-out;
}

.item {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.125rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
        font-family: 'Roboto';
        cursor: pointer;
    outline: none;
    transition: background-color 0.2s, color 0.2s;
}

.item:focus {
    background-color: var(--accent);
    color: var(--accent-foreground);
}

.item[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.item svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.item.inset {
    padding-left: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}