.requestLink {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.requestsList {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    transition: all 0.4s ease-in;
    background: #acd1f9;
    border-radius: 4px;
    
    &:hover {
      background: #3182ce;
    }
  }
}

.noRequests {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
}