.hackathonPageInfoToolbar {
  .hackathonPageInfoToolbarButtons {
    display: flex;
    gap: 0.5rem;
  }
  .message {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .hackathonPageInfoToolbar {
    padding: 1rem !important;
    .hackathonPageInfoToolbarButtons {
      width: 100%;
      a {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    .message {
      span {
        font-size: 0.8rem;
      }
    }
  }
}
