@use './media/tablet';
@use './media/mobile';

.sidebar {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out;
  background: white;
  height: fit-content;

  .sidebarBlock {
      padding: 0.5rem 0;
      padding-bottom: 0.5rem;

      &:first-child {
          padding-top: 0;
      }

      &:first-child {
          padding-bottom: 0;
      }
  }
}

.editHackathonModal {
  max-width: 850px !important;
}

@media (max-width: 1024px) {
  .editHackathonModal {
    width: 75%;
    max-width: 0;
  }
}

.sidebarActions {
  margin-top: 1.25rem;
  width: 100%;
  display: flex;

  div {
    width: 100%;
    button {
      width: 100%;
    }
  }
}