.dialogContent {
    font-family: 'Roboto Fallback', sans-serif;
}

.formGrid {
    display: grid;
    gap: 1rem; 
    padding: 1rem 0;
  
    .formRow {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      align-items: center;
      gap: 1rem;
  
      .inputField {
        grid-column: span 3 / span 3;
      }
    }
  }