.hackathonSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.hackathonDescription {
  display: flex;
  justify-content: flex-start !important;
  padding: 1.25rem;
}

.hackathonDescriptionEditor {
  border: 1px solid rgb(237, 237, 237);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}

