@use './media/mobile';
@use './media/tablet';
@use './media/desktop';

.teamContainer {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.teamContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  .teamContents {
      .membersContainer {
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 1rem;
          margin-top: 20px;
  
          .members {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .skeletonContainer {
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
              }
  
              .link {
                  text-decoration: none;
                  color: inherit;

                  &:visited {
                      color: inherit;
                      text-decoration: none;
                  }
              }
  
              .noMates {
                  margin-top: 30px;
              }
          }
      }
  } 
}

.hackathonTeamSidebars {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}