.container {
    display: flex;
    align-items: center;
    gap: 1rem;
  
    .avatar {
      height: 3rem;
      width: 3rem;
      border-radius: 9999px;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex: 1;
  
      .line {
        height: 1rem;
        
        &:nth-child(1) {
          width: 100%;
        }
        
        &:nth-child(2), &:nth-child(3) {
          width: 100%;
        }
      }
    }
  }