@use './media/mobile';
@use './media/tablet';

.adminTabFilter {
  width: 100%;
  display: flex;
  gap: 1rem;

  .adminTabFilterInputs {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;

    .adminTabFilterInput {
      flex: 1;
      height: 44px;
      background-color: white;
      min-height: 44px;

      &:hover {
        border-color: #3182ce;
      }

      &:focus {
        border-color: #3182ce;
      }
    }

    .filterSelects {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .adminSelectTrigger {
    gap: 0.75rem;
  }
}
