.adminTabFilter {
  width: 100%;
  display: flex;
  gap: 1rem;

  .adminTabFilterInputs {
    width: 100%;
    display: flex;
    gap: 1rem;

    .adminTabFilterInput {
      flex: 1;
      height: 100%;
      background-color: white;
  
      &:hover {
        border-color: #3182ce;
      }
  
      &:focus {
        border-color: #3182ce;
      }
    }
  }
}
