@use '@/shared/styles/mixins' as *;

@include media(tablet, max) {
  .requestsContainer.mobile {
    .requestsTitle {
      font-size: 1.25rem;
      margin: 0.5rem 0;
    }
    .requestsContent {
      gap: 1rem;
      .requestsToolbar {
        padding: 0.75rem;
        div {
          width: 100%;
          .createRequestButton {
            width: 100%;
            font-size: 0.75rem;
          }
        }
      }
      .requestsListContainer {
        h3 {
          font-size: 1.25rem;
        }

        .tabs {
          margin-top: 0;

          .tabsList {
            .tabsTrigger {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}
