@use './media/mobile';
@use './media/tablet';

.toolbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .toolbarControls {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}