@use '@/shared/styles/mixins' as *;

@include media(tablet, max) {
  .hackathonsContainer.mobile {
    width: 100%;

    h1 {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }

    .hackathonsContent {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .hackathons {
        margin-top: 0;
      }
    }
  }
}
