@use '@/shared/styles/mixins' as *;
@use './media/mobile';
@use './media/tablet';
@use './media/desktop';

.coverSection {
    width: 100%;
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.2s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 2rem;
    animation: gradientAnimation 15s ease infinite;

    &:hover {
        opacity: 0.9;

        &::after {
            content: 'Нажмите для загрузки обложки';
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 16px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            pointer-events: none;
        }
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    padding: 1.25rem 2rem;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    .info {
        display: flex;
    }

    form {
        width: 100%;

        .details {
            width: 100%;
        }
    }
}

.avatarContainer {
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: #666;
    border: 4px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatarImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 600px;
}

.name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.email {
    color: #666;
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
}

.role {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    background: #f0f0f0;
    border-radius: 6px;
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.section {
    margin-bottom: 1.5rem;
}

.sectionTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.about {
    line-height: 1.6;
    color: #444;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .detailItem:last-child {
        grid-column: 1 / -1;
    }
}

.profileFormInput {
    background-color: white !important;
}

.profileFormInput:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.1);
    background-color: #fff;
}

.detailItem {
    padding: 1rem;
    background: #f8fafc;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.detailLabel {
    text-align: center !important;
    font-size: 0.9rem !important;
    color: black !important;
    margin-bottom: 0.25rem !important;
}

.errorText {
    color: #e53e3e;
    font-size: 0.8rem;
    display: block;
    padding-top: 0.25rem;
    animation: slideIn 0.3s ease-out;
}

.detailValue {
    width: 100%;
    font-weight: 500;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .markdownEditor {
        width: 100%;
        height: 100%;
        min-height: 300px;
        max-height: 300px;
        border: 1px solid #e2e8f0;
        border-radius: 6px;

        :global {
            .w-md-editor {
                height: 300px !important;
                border: 1px solid var(--border);
                border-radius: 6px;
                overflow: hidden;
            }

            .w-md-editor-content {
                height: 82.5% !important;
            }

            .w-md-editor-text-input {
                height: 300px !important;
                padding: 1rem;
                overflow: hidden;
                caret-color: var(--foreground);
                caret-width: 2px;
                font-size: 14px;
                line-height: 1.5;
            }

            .w-md-editor-preview {
                padding: 1rem;
                border-left: 1px solid var(--border);
                overflow: hidden;
            }
            .w-md-editor-aree {
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }
}

.banned {
    color: #dc3545;
    font-weight: 500;
    margin-top: 0.5rem;
}

.errorBlock, .toolbarBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.errorToolbar {
    background-color: #ef4444 !important;

    .errorBlock {
        color: white;

        span {
            font-size: 12px;
        }
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
