.profileFormContainer {
    width: 62.5%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profileForm {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profileFormColumns {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

.profileFormRow {
    display: flex;
    gap: 1rem;
}

.profileFormRow>.profileFormItem {
    width: 50%;
}

.profileFormGroup {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profileFormGroup:last-child {
    gap: 2.5rem;
}

.profileFormItem {
    display: flex;
    flex-direction: column;
    position: relative;
}

.profileFormItemText {
    display: block;
    padding: 0.5rem 0;
}

.profileFormItem:has(.profileFormAbout) {
    flex: 1;
}

.profileFormAbout {
    height: 100%;
}

.formSubmit {
    margin-top: 2rem;
}


.profileFormInput:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.1);
    background-color: #fff;
}

.dropdownFileInput {
    display: none;
}

.errorText {
    color: #e53e3e;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: block;
    padding-top: 0.5rem;
    position: absolute;
    bottom: -27px;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}