.requestsSearchInputWrapper {
    display: flex;
    width: 100%;
    margin-top: 1rem;

    input {
        background-color: white !important;

        &:focus {
            outline: none;
            border-color: #3182ce;
            box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.1);
            background-color: #fff;
        }
    }
}