@use './media/mobile';
@use './media/tablet';

.hackathonAttachments {
  .attachmentsList {
    margin: 0.75rem 0;
    margin-bottom: 0;
  }
  .noAttachments {
    margin-top: 0.75rem;
  }
}

.sidebarActions {
  width: 100%;
  margin-top: 0.75rem;

  div {
    width: 100%;
    button {
      width: 100%;
    }
  }
}