@use '@/shared/styles/mixins' as *;

@include media(tablet, max) {
  .hackathonAttachments.mobile {
    .attachmentsList {
      margin: 0.75rem 0;
      margin-bottom: 0;
    }
    .noAttachments {
      font-size: 0.8rem;
      margin-top: 0.875rem;
    }
  }
}

@include media(tablet, max) {
  .sidebarActions.mobile {
    .attachmentsList {
      margin: 0.75rem 0;
      margin-bottom: 0;
    }
    .noAttachments {
      font-size: 0.875rem;
      margin-top: 0.75rem;
    }
  }
}
